:root {
  --Grid-width: 100%;
  --Grid-gap: 1em;
  --Grid-columns: 12;
  --Grid-columns-width: 1fr;
  --Grid-rows: 1;
  --Grid-rows-height: auto;
  --Grid-rows-min-height: var(--Grid-rows-height);
  --Grid-rows-max-height: var(--Grid-rows-height);
  --Grid-column-gap: var(--Grid-gap);
  --Grid-column-position: auto;
  --Grid-column-span: 1;
  --Grid-row-gap: var(--Grid-gap);
  --Grid-row-position: auto;
  --Grid-row-span: 1;
}

.Grid {
  --width: var(--Grid-width);
  --gap: var(--Grid-gap);
  --columns: var(--Grid-columns);
  --columns-width: var(--Grid-columns-width);
  --columns-template: repeat(var(--columns), var(--columns-width));
  --rows: var(--Grid-rows);
  --rows-height: var(--Grid-rows-height);
  --rows-min-height: var(--rows-height, var(--Grid-rows-min-height));
  --rows-max-height: var(--rows-height, var(--Grid-rows-max-height));
  --rows-auto: minmax(var(--rows-min-height), var(--rows-max-height));
  --rows-template: repeat(var(--rows), var(--rows-auto));
  --column-gap: var(--gap, var(--Grid-column-gap));
  --row-gap: var(--gap, var(--Grid-row-gap));

  display: grid;
  width: var(--width);
  grid-column-gap: var(--column-gap);
  grid-row-gap: var(--row-gap);
  grid-template-columns: var(--columns-template);
  grid-template-rows: var(--rows-template);
  grid-auto-rows: var(--rows-auto);
}

.Grid .cell {
  --column-position: var(--Grid-column-position);
  --column-span: var(--Grid-column-span);
  --column-start: var(--column-position);
  --column-end: span var(--column-span);
  --row-position: var(--Grid-row-position);
  --row-span: var(--Grid-row-span);
  --row-start: var(--row-position);
  --row-end: span var(--row-span);

  grid-column-start: var(--column-start);
  grid-column-end: var(--column-end);
  grid-row-start: var(--row-start);
  grid-row-end: var(--row-end);
}
